<div class="container mt-5">
  <h1><%= @cocktail.name %></h1>
  <%= link_to "➕ Add new doses", new_cocktail_dose_path(@cocktail), class: 'btn' %>
  <% @cocktail.doses.each do |dose| %>
    <div class="card-product mt-2">
      <%= cl_image_tag("upydylou3ykrg3fwbcby") %>
      <div class="card-product-infos pt-3">
        <h3> Ingredients:</h3> <h5><%= dose.ingredient.name %></h5> <p><%= dose.description %></p>
      </div>
        <%= link_to "🗑", cocktail_dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn'%>
    </div>
  <% end %>
  <div class="mt-5 pt-5">
    <%= link_to "⬅ Back to all cocktails", cocktails_path, class: 'btn btn-secondary' %>
  </div>
</div>
